.color1{
    background-color: #030027;
}
.color2{
    background-color: #3d3b3c;
}
.color3{
    background-color: #0b4f6c;
}
.color4{
    background-color: #00120b;
}
.color5{
    background-color: #04151f;
}
.palito{
    border: 1px solid rgba(var(--ipt-on-baseAlt-rgb),.16);
    order: 5;
    width: 1px;
    height: 2rem;
    margin: 0px 0.5rem;
}
.mm{
    width: 80%;
}
.md{
    margin-right: 16px;
}
.md2{
    margin-left: 32px;
}
.left{
    margin-right: 0;
}
.right{
    margin-left: 60%;
}
.text{
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#rcorners1 {
    border-radius: 20px;
    background: #0b4f6c;
    padding: 20px;
    margin-top: 15px;
    margin-right: auto;
  }
#star{
    margin-top: 10px;
    margin-right: 10%;
}
#movie{
    margin-top: 15px;
}
#synopsis{
    background: #3d3b3c;
    padding: 20px;
    border-radius: 25px;
}
.carr{
    margin:auto;
    width: auto;
    height: 500px;
}
.carr2{
    margin-top: 8px;
}
.carr3{
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
#reco{
    width: 100%;  
    height: 100%;
}
.title{
    font-size: 300%;
}
#video{
    margin-top: 30px;
}
.rate{
    font-family: "Times New Roman";
    font-size: 170%;
    color: white;
    margin-right: 0%;
    text-shadow: 2px 2px 1px #000000;
}
.cont{
    font-family: "Times New Roman";
    font-size: 100%;
    color: white;
    margin-right: 0%;
    margin-left: 10px;
    text-shadow: 2px 2px 1px #000000;
}
.dorado{
    color: #efb810;
}
.negro{
    color:#000000
}
.score{
    border-radius: 23px 23px 23px 23px;
    -moz-border-radius: 23px 23px 23px 23px;
    -webkit-border-radius: 23px 23px 23px 23px;
    border: 2px solid #000000;
    background-color: #efb810;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.center{
    margin-left: auto;
    margin-right: auto; 
}
.derecha{
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 10px;
}
.izquierda{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
}
.related{
    background: #3d3b3c;
    padding: 8px;
    border-radius: 25px;
    color: #efb810;
    text-shadow: 2px 2px 4px #000000;
    font-size: 100%;
    margin-top: 10px;
}
#popular{
    font-size: 200%;
    text-shadow: 2px 2px 4px #000000;
}
.top10{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.space{
    margin-top: 20px;
}
.caption{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 180%;
    border:5px;
    border-color: black;
}